body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    margin: 0;
    width: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    width: 100%;
}

.header-logo {
    font-weight: bold;
}

.header-banner {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    /* width: 100%; */
    gap: 20px;
}

.img-holder {
    width: 450px;
    height: 150px;
    background-color: beige;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: bolder;
    width: 350px;
}

.subtext {
    margin-top; 0;
    font-size: 18px;
    width: 450px;
    color: #E5E7EB;
}

.hb-button {
    background-color: #3882F6;
    border-radius: 2px;
    color: #F9FAF8;
    border: none;
    padding: 10px 25px;
}

.hb-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.link-container   {
    display: flex;
    gap: 15px;

}

.image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 50px;
}

.image-hub {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding-bottom: 100px;
    gap: 50px;
}

.img-hold {
    border: 3px solid #3882F6;
    border-radius: 12px;
    width: 140px;
    height: 140px;
}

.img-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-subtext {
    width: 150px;
    color: #68696b;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.choices {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937; 
    margin-bottom: 0;
}

.thanos {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    
}