body {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #212642;
    color: rgb(209, 209, 209);
}

.link-container   {
    display: flex;
    gap: 15px;
    
}

.header-banner {
    display: flex;
    flex-direction: column;
}